.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 10rem 3rem 10rem;
  position: relative;
}

@media (min-width: 701px) and (max-width: 1120px) {
  .main {
    padding: 3rem;
  }
}

@media (max-width: 700px) {
  .main {
    padding: var(--space-large);
  }
}
