.navBar {
  display: flex;
  align-items: center;
  justify-content: inherit;
  max-width: var(--max-width);
  width: var(--total-width);
  z-index: 2;
  background-color: var(--color-cold-grey);
  padding: var(--space-large) var(--space-extra-extra-larger);
}

.icon {
  height: var(--space-extra-extra-larger);
  width: var(--space-extra-extra-larger);
}

.form {
  width: var(--total-width);
  padding-left: var(--space-larger);
}

.input {
  width: 30%;
  background-color: var(--color-dark-grey);
  padding: 3px var(--space-medium);
  font-size: var(--font-small);
  line-height: var(--space-medium);
  border-color: var(--color-light-grey);
  color: var(--color-medium-grey);
  box-shadow: transparent;
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  border: 1px solid;
  border-radius: 6px;
}

.input:focus-visible {
  border-color: var(--color-accent-fg);
  color: var(--color-light-grey);
  outline: none;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .input {
    width: 50%;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .input {
    width: var(--total-width);
  }
}
